<div class="signUp">
  <h2>SignUp Form</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Enter password">
    </mat-form-field>
    <button mat-button class="button-color">SignUp</button>
  </form>
</div>
