.contentStyle {
  margin: 180px;
  margin-top: 40px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

mat-card {
  margin-top: 20px;
  box-shadow: none !important;
}

img {
  width: 480px;
  height: 548px;
}

.card-height {
  width: 480px;
  height: 548px;
}

.card-alignments p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.method1 {
  background: -webkit-linear-gradient(top, #02aab0, #00cdac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.grid-list-2 p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.card-3 {
  margin-left: 100px;
  width: 1200px;
}

.card-3 h1 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-3 p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.p-adjestments {
  padding: 2px;
}

.imag_changes img {
  margin: 27px;
  height: 400px;
  width: 1200px;
  background: -webkit-linear-gradient(top, #02aab0, #00cdac);
}

.imag_changes {
  margin: 16px;
  height: 450px;
  width: 1250px;
  background: -webkit-linear-gradient(top, #00cdac, #02aab0);
}

.team_header {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  background: -webkit-linear-gradient(top, #02aab0, #00cdac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog {
  width: 800px;
  height: 300px !important;
  margin-left: 230px;
}

.blog1 {
  height: 394px;
  width: 350px;
  background: -webkit-linear-gradient(top, #02aab0, #00cdac);
}

.blog1 h1 {
  color: white;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 75px;
}

.blog1 p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: white;
}
