<mat-card>
  <mat-card-content class="contentStyle">
    <p>CSS stands for Cascading Style Sheets
      CSS describes how HTML elements are to be displayed on screen, paper, or in other media
      CSS saves a lot of work.
      It can control the layout of multiple web pages all at once
      External stylesheets are stored in CSS files.
      This is a demonstration of how different stylesheets can change the layout of your HTML page.
      You can change the layout of this page by selecting different stylesheets in the menu, or by selecting one of the
      links.</p>
    <h4 class="method1">Why Use CSS?</h4>
    <p>CSS is used to define styles for your web pages, including the design,
      layout and variations in display for different devices and screen sizes.</p>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img src="../assets/cssImage.png">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-height">
      <mat-card-content class="card-alignments">
        <h2 class="method1">HTML</h2>
        <p>HTML was NEVER intended to contain tags for formatting a web page!
          HTML was created to describe the content of a web page, using h1 and p tags.</p>
        <h2 class="method1">HEAD</h2>
        <p>The HTML HEAD tag element is a container for metadata (data about data) and is placed between the html tag
          and the body tag.
          HTML metadata is data about the HTML document. Metadata is not displayed.</p>
        <h2 class="method1">TITLE</h2>
        <p>
          The title tag is required in all HTML documents and it defines the title of the document. </p>

        <h3>The title tag element:</h3>

        <p>1.defines a title in the browser toolbar.<br/>
          2.provides a title for the page when it is added to favorites.<br/>
          3.displays a title for the page in search-engine results.</p>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<mat-card class="card-3">
  <mat-card-content class="content-3">

    <h1 class="method1">CSS How To...</h1>
    <p>When a browser reads a style sheet, it will format the HTML document according to the information in the
      style
      sheet.</p>

    <h3 class="method1">Three Ways to Insert CSS</h3>
    <p>There are three ways of inserting a style sheet:</p>
    <p class="p-adjestments">1.External style sheet<br>
      2.Internal style sheet<br>
      3.Inline style</p>

  </mat-card-content>
</mat-card>
<div class="imag_changes">
  <img src="../assets/angular_css.png">
</div>

<h1 class="team_header">Our Team</h1>


<mat-grid-list cols="2" rowHeight="2:2" class="blog">
  <mat-grid-tile>
    <mat-card class="blog1">
      <mat-card-content>
        <div>
          <h1>CSS Selectors</h1>
          <p>CSS selectors are used to "find" (or select) HTML elements based on their element name, id, class,
            attribute, and more.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../assets/css_html5.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../assets/laptop1.jpeg">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="blog1">
      <mat-card-content>
        <h1>The element Selector</h1>
        <p>The element selector selects elements based on the element name.<br/>

          You can select all p tag elements on a page like this (in this case, all p tag elements will be
          center-aligned, with a red text color).</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


